@import "./variables.scss";

main {
  @include flex(center, start, column);
  height: 50%;
  margin-top: 15px;

  h2 {
    font-family: "JetBrains Mono";
    color: $verde;
    background-color: $azul1;
    border-radius: 10px;
    padding: 5px 10px;
  }

  .post-area {
    height: max-content;
    width: 40%;
    overflow: auto;

    .post-card {
      border: 3px solid $azul1;
      border-radius: 20px;
      margin: 10px 0px;


      .post-header {
        @include flex(center, space-between, row);
        background-color: $azul1;
        color: #fff;
        padding: 5px 15px;
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;

        .post-title {
          h3 {
            font-size: 1.5em;
            font-family: "JetBrains Mono";
          }
        }

        a {
          color: $vermelho;
          font-size: 1.3em;
          transition: 0.3s;

          &:hover {
            color: darken($vermelho, 20);
          }
        }
      }

      .post-body {
        padding: 5px 15px;

        p{
            font-size: 1.4em;
        }
      }
    }
  }
}
